#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  border-radius: 2 ;
}

.lecuerpa{
border-radius: 20px;
border: 1px gray solid;
}

.leicono{
border-radius: 70px;
border: 1px gray solid;

}
